<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CryAnalyzer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link href="https://fonts.google.com/?query=young" rel="stylesheet">
  <!-- Correctly reference CSS files stored in the 'static' directory -->
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link href="../static/normalize.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/portfolio.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary color navy ">
        <div class="container-fluid lista">
          <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="currentColor" class="bi bi-wechat mo" viewBox="0 0 16 16">
            <path d="M11.176 14.429c-2.665 0-4.826-1.8-4.826-4.018 0-2.22 2.159-4.02 4.824-4.02S16 8.191 16 10.411c0 1.21-.65 2.301-1.666 3.036a.32.32 0 0 0-.12.366l.218.81a.6.6 0 0 1 .029.117.166.166 0 0 1-.162.162.2.2 0 0 1-.092-.03l-1.057-.61a.5.5 0 0 0-.256-.074.5.5 0 0 0-.142.021 5.7 5.7 0 0 1-1.576.22M9.064 9.542a.647.647 0 1 0 .557-1 .645.645 0 0 0-.646.647.6.6 0 0 0 .09.353Zm3.232.001a.646.646 0 1 0 .546-1 .645.645 0 0 0-.644.644.63.63 0 0 0 .098.356"/>
            <path d="M0 6.826c0 1.455.781 2.765 2.001 3.656a.385.385 0 0 1 .143.439l-.161.6-.1.373a.5.5 0 0 0-.032.14.19.19 0 0 0 .193.193q.06 0 .111-.029l1.268-.733a.6.6 0 0 1 .308-.088q.088 0 .171.025a6.8 6.8 0 0 0 1.625.26 4.5 4.5 0 0 1-.177-1.251c0-2.936 2.785-5.02 5.824-5.02l.15.002C10.587 3.429 8.392 2 5.796 2 2.596 2 0 4.16 0 6.826m4.632-1.555a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0m3.875 0a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0"/>
          </svg><a class="navbar-brand weight lista hai mo" href="#"> CRY CLASSIFIER </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse  navbar-collapse" id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="contain">
              <li class="nav-item">
                <a class="nav-link active   weight lista hai" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link weight lista hai" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  weight lista hai" >Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


  <!-- Title -->
  <section id="title" class="gradient-background">

    <div class="container col-xxl-8 px-4 pt-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../static/images/iphone.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" height="200"
            loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 align past">Meet our baby cry translation app, an invaluable tool...</h1>

          <div class="d-grid gap-2 d-md-flex justify-content-md-start align">
            <button type="button" class="btn btn-outline-light btn-lg px-4 hai" onclick="window.location.href='/secondpage';">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                </svg>
                View Source
            </button>
        </div>
        
        </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features -->
  <section id="features">
    <div class="container mt-5">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-check2-circle"
              viewBox="0 0 16 16">
              <path
                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
              <path
                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
            </svg>
          </div>
          <div>
            <h3 class="fs-2 hai">Easy to use.</h3>
            <p>So easy to use, even your baby could do it.</p>

          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg"  height="30" fill="currentColor" class="bi bi-globe-central-south-asia" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M4.882 1.731a.48.48 0 0 0 .14.291.487.487 0 0 1-.126.78l-.291.146a.7.7 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a1 1 0 0 0-.462-.04 7 7 0 0 1 2.45-2.027m-3 9.674.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047.5.5 0 0 1 .724.447v.455a.8.8 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.45.45 0 0 1 11.743 8c.16 0 .306.084.392.218.557.875 1.63 2.282 2.365 2.282l.04-.001a7.003 7.003 0 0 1-12.658.905Z"/>
            </svg>
          </div>
          <div>
            <h3 class="fs-2 hai">Support.</h3>
            <p>Rest assured, we have got your back.</p>

          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg"  height="30" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
              <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
            </svg>
          </div>
          <div>
            <h3 class="fs-2 hai">24x7.</h3>
            <p>Help is always just a moment away.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="aboutme" class="aboutme">
    <h2 class="hai">HOW IT WORKS</h2>
    <div class="aboutme-section">
        <div class="img">
            <div class="aboutme-image"><img src="../static/images/gog.png" width="300px"></div>
        </div>
        <div class="aboutme-text">
            <p class="past">Infant Cry Analyzer is dedicated to providing parents with advanced tools to understand and respond to their baby's cries, recognizing each cry as a meaningful form of communication.</p>

            <p class="past">Our mission is to empower parents with the knowledge to confidently care for their infants, helping them identify their baby's specific needs like hunger, discomfort, or tiredness.</p>

            <p class="past">By recording and uploading the baby's cry into the app, parents receive instant feedback on the potential reasons behind the cry, whether it's hunger, discomfort, tired, burps or belly pain. This immediate insight assists parents in addressing their baby's needs more effectively and efficiently.. </p>
        </div>
    </div>
</section>
<section id="contactme" class="contact color">
  <h2 class="hai">Contact</h2>
  <p class="past">Use this form to get in touch. I would love to hear from you!</p>

  <form class="contact-form">

      <div class="contact-details">

          <label for="name past">Name</label>
          <input type="text" id="yourname" placeholder="Yourname">

          <label for="subject past">Subject</label>
          <input type="text" id="subject" placeholder="Reason for your message">

          <label for="email past">Email Address</label>
          <input type="email" id="email" placeholder="Your email address">

      </div>


      <div class="message ">
          <label for="msg past">Message</label>
          <textarea id="msg" rows="15"></textarea>
          <button class="past lista color" type="submit ">Submit</button>
      </div> 

  </form>

</section>

<footer class="back">
  <div class="container lista">
      <div class="copyright hai">
          This site &copy; 2024 Sandra G
      </div>
      <div class="social-media">

          <a ><i class="fa fa-facebook-official lista"></i></a>

          <a><i class="fa fa-twitter lista"></i></a>

      </div>

  </div>

</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
  